* {
  margin: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(186, 255, 181);
  top: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.521);
}

#header_left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 2%;
}

#header_left img {
  border-radius: 0.3em;
  margin: 0.5em;
  width: 1.5em;
  height: 1.5em;
}

#div_input {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  border-radius: 2em;
}

#div_input .material-icons {
  border: none;
  background-color: transparent;
  padding-top: 0.1875em;
}

#div_input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

#header_milieu ul {
  padding-inline-start: 0%;
  display: flex;
  justify-content: center;
}
#header_milieu li {
  margin-left: 15%;
  margin-right: 15%;
}
#header_milieu a {
  text-decoration: none;
  color: black;
}

.material-icons :hover {
  padding: 0.5em;
  background-color: lightgray;
  border-radius: 0.625em;
}

#header_right {
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#header_right h1 {
  font-size: small;
}

#header_right img {
  display: flex;
  justify-content: center;
  padding: 5%;
  width: 20%;
  border-radius: 100%;
}

#main {
  display: flex;
  justify-content: space-between;
  padding: 1.5625em 0.625em;
  flex: 0.1;
  margin-right: 14em;
  margin-left: 2em;
}

.img_menu_item h4:hover {
  background-color: lightgray;
  border-radius: 0.625em;
}

.img_menu_item {
  display: flex;
  align-items: center;
}

.img_menu_item h4 {
  padding: 0.1em 0.5em 0.1em 0.5em;
  font-size: 1.5625em;
  font-family: Arial, Helvetica, sans-serif;
}

#images {
  display: flex;
  justify-content: center;
}

#images figcaption {
  display: flex;
  justify-self: center;
  justify-content: center;
  font-size: medium;
  color: rgb(255, 255, 255);
  background-color: #272727a1;
  position: relative;
  bottom: 10%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 80%;
  border-radius: 0.625em;
  margin-right: 0.625em;
}

.Mes_images {
  display: flex;
  position: relative;
  margin-top: 2em;
  margin-right: 0.625em;
  width: 10em;
  height: 20em;
  border-radius: 0.625em;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.521);
}

#images figure:hover {
  transform: scale(1.07);
}

#intro {
  background-color: #eff2f5;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.521);
  padding: 1em;
  border-radius: 0.625em;
  margin-bottom: 5%;
}

@keyframes bounce {
  50% {
    transform: translateX(0px) translateY(10px);
  }
}

#imagebottom img {
  border-radius: 50em;

  animation: bounce 2s infinite;
}

@media (max-width: 768px) {
  .img_menu_item {
    display: none;
  }

  #div_input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 0.3em;
    margin-left: 0.3em;
    border-radius: 2em;
  }
  #header_milieu {
    display: flex;
    flex: 1;
    justify-content: center;
    list-style-type: none;
    padding: 1.25em;
    color: #f1f3f7;
    width: 10%;
  }
  #header_milieu .material-icons {
    font-size: 1.6em;
    color: #181818;
    text-decoration: none;
  }
  #header_right img {
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em;
  }
  #header_right h1 {
    border-radius: 0.625em;
    font-size: 0.5em;
    align-items: center;
    border-bottom: none;
  }
  #main {
    margin-top: 1.25em;
    width: 100%;
    padding: 0;
  }
  #images figcaption {
    font-size: 0.625em;
  }

  #images figure {
    position: relative;
    margin-top: 2em;
    margin-right: 0.625em;
    width: 5em;
    height: 10em;
    box-shadow: 0px 0.4px 1em -0.95 rgba(0, 0, 0, 0.75);
    border-radius: 0.625em;
  }
  .images_and_bottom {
    width: 50%;
    margin-left: 1.25em;
  }
  #imagebottom {
    width: 25%;
    margin-left: 12em;
    margin-top: 1em;
    border-radius: 35%;
    background-color: white;
    box-shadow: 0px 0.4em 0.9em -0.9em rgba(0, 0, 0, 0.75);
    animation: flotte 2000ms linear infinite;
  }
  #images {
    width: 50%;
  }

  #intro {
    width: 85%;
    margin-top: 1em;
    height: 3em;
    padding: 0em 0.5em 0em 0.5em;
    font-size: 1em;
    font-family: cursive;
    margin-left: 2em;
    color: white;
    border-radius: 0.95em;
    background-color: rgb(125, 125, 216);
    text-align: center;
  }
}
