ul {
  list-style-type: none;
  display: flex;
  background-color: rgb(37, 37, 37);
  align-items: center;

  li {
    margin: 2px;
    padding: 10px;
    margin-left: 5px;

    a {
      color: white;
      font-size: small;
      max-width: min-content;
      text-decoration: none;
    }
  }
}

header {
  align-items: center;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
}
